body, html {
    overflow-x : hidden;
    position   : relative;
    max-width  : 100%;
}

.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}



@import "~bootstrap/scss/bootstrap-grid";

