{{> ../partials/base/header description = pageDescription.home }}

<h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda beatae culpa error facere facilis, harum
    inventore ipsa ipsam laboriosam perspiciatis quam ratione sit sunt suscipit velit, veniam. Perspiciatis, quos?
</h1>

{{> ../partials/base/footer }}
