<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://source.unsplash.com/1200x500?beach" alt="">
        </div>
        <div class="swiper-slide">
            <img src="https://source.unsplash.com/1200x500?montains" alt="">
        </div>
        <div class="swiper-slide">
            <img src="https://source.unsplash.com/1200x500?desert" alt="">
        </div>
    </div>
</div>
