@mixin line-height($fontsize, $lineheight) {
    line-height : ($lineheight) + px;
    line-height : ($lineheight/10) + rem;
    margin-top  : (($lineheight - $fontsize)/2 * -1) + px;
    margin-top  : ((($lineheight - $fontsize)/2 * -1) / 10) + rem;
}

@mixin letter-spacing($letterspacing) {
    letter-spacing : $letterspacing/1000;
}

@mixin letter-spacing-zeplin($letterspacing, $font-size) {
  letter-spacing : $letterspacing/$font-size + em;
}

@mixin font-size($sizeValue: 16) {
    font-size : ($sizeValue) + px;
    font-size : ($sizeValue/10) + rem;
}
